.post-vermais-btn {
    background: #F2902C;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px -2px #000000;
    transition: box-shadow 0.1s ease-in-out;
    min-width: 160px;
    margin: 0 auto;
}
.post-vermais-btn:hover {
    box-shadow: none;
}

.participar-btn {
    background: #6225B5;
    color: #FFF;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: 0px 5px 19px -6px #000000;
    transition: box-shadow 0.1s ease-in-out;
    min-width: 160px;
    margin: 0 auto;
}
.participar-btn:hover {
    box-shadow: none;
}