@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.baseColor{
    color: #6225B5;
}
.baseFont {
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 677px;
    height: auto;
    background-color: #fff;
    
}
